<!DOCTYPE html>
<html lang="en" class="theme-orange">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords"
		content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Job List - HRMS admin template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/all.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/line-awesome.min.css">
	<link rel="stylesheet" href="css/custom-forms.css" />
	<link rel="stylesheet" href="css/index.min.css" />

	<link rel="stylesheet" href="../dist/tailwind-dist.css">
</head>

<body class="font-CircularStd bg-body dark:bg-swapBody" x-data="{modalOpen:false}" @click.away="modalOpen=false" x-cloak>
	<div class="main-wrapper">

		<!-- Header -->
		<header
			class="fixed left-0 right-0 top-0 bg-gradient-to-r from-[#ff9b44] to-[#fc6075] dark:bg-gradient-to-r dark:from-[#16191c] dark:to-[#16191c] h-[60px] flex items-center border-b border-transparent dark:border-[#2e3840] shadow-header z-[9999]">

			<!-- Logo -->
			<div
				class="logo media-max-w-md:max-w-full max-w-[230px] w-full media-max-w-md:absolute px-5 transition-all ease-in-out duration-[0.2s]">
				<a href="admin-dashboard.html">
					<img src="images/logo.png" alt="logo" class="w-[40px] h-[40px] mx-auto">
				</a>
			</div>
			<!-- /Logo -->

			<a href="javascript:;" class="media-max-w-md:hidden flex px-[10px]" id="toggle_btn">
				<span class="bar-icon inline-block w-[21px]">
					<span class="w-[21px] h-[2px] bg-white dark:bg-swapText mb-[5px] block float-left"></span>
					<span class="w-[15px] h-[2px] bg-white dark:bg-swapText mb-[5px] block float-left"></span>
					<span class="w-[21px] h-[2px] bg-white dark:bg-swapText block float-left"></span>
				</span>
			</a>

			<!-- Header Title -->
			<div class="px-5 media-max-w-lg:hidden">
				<h3 class="text-[20px] font-normal text-white dark:text-swapText leading-[1.2]">Dreamguy's Technologies</h3>
			</div>
			<!-- /Header Title -->

			<a id="mobile_btn"
				class="media-min-w-md:hidden px-5 w-[60px] h-[60px] leading-[60px] absolute top-0 left-0 text-white text-2xl"
				href="#sidebar"><i class="fa fa-bars"></i></a>

			<!-- Header Menu -->
			<div class="ml-auto">
				<ul class="top-nav hidden sm:flex items-center">

					<!-- Search -->
					<li>
						<div class="relative" x-data="{mobSearch:false}">
							<a href="javascript:void(0);"
								class="media-min-w-md:hidden inline-block h-[60px] leading-[60px] text-white text-xl sm:px-[10px] md:px-[15px] responsive-search"
								@click="mobSearch = ! mobSearch">
								<i class="fa fa-search"></i>
							</a>
							<form x-show="mobSearch" action="javascript:;"
								class="flex items-center w-[230px] absolute left-0 mt-[10px] z-50">
								<input
									class="bg-white w-full h-[40px] py-[10px] pl-[15px] pr-[50px] border border-[#e3e3e3] rounded-[50px] text-[#333333] placeholder:text-blackOverlay outline-none focus:outline-none"
									type="text" placeholder="Search here">
								<button class="flex absolute right-3" type="submit">
									<i class="fa fa-search text-[#333333]"></i>
								</button>
							</form>
							<form action="javascript:;"
								class=" media-max-w-md:hidden flex items-center w-[230px] relative">
								<input
									class="bg-searchbg !border-transparent focus:ring-0 w-full h-[40px] py-[10px] pl-[15px] pr-[50px] rounded-[50px] text-white placeholder:text-whiteOpacity outline-none focus:outline-none"
									type="text" placeholder="Search here">
								<button class="flex absolute right-3" type="submit">
									<i class="fa fa-search text-whiteOpacity"></i>
								</button>
							</form>
						</div>
					</li>
					<!-- /Search -->

					<!-- Flag -->
					<li class="relative" x-data="{transLang:false}" @click.away="transLang=false">
						<a href="javascript:;"
							class="dark:text-swapText dark:text-swapText sm:px-[10px] md:px-[15px] text-white flex items-center h-[60px] hover:bg-blackOpacity focus:bg-blackOpacity after:media-max-w-md:hidden after:content-['\f107'] after:font-FontAwesome after:pl-[5px] after:text-[20px] after:transition-all after:ease-in-out after:duration-[0.2s]"
							:class="{'after:rotate-180 after:pl-[0px] after:pr-[5px]':transLang === true, 'after:rotate-0': transLang === false}"
							@click="transLang = ! transLang"><img src="images/flags/us.png"
								class="w-5 h-5 media-max-w-md:mr-0 mr-2" alt=""><span
								class="media-max-w-md:hidden leading-[60px]">English</span></a>
						<div x-show="transLang"
							class="py-2 bg-white absolute left-0 right-0 border border-dropdownBorder shadow rounded-sm min-w-[120px] max-h-[150px] overflow-y-auto z-50">
							<a href="javascript:;" @click.prevent="transLang=false"
								class="px-3 py-1 flex items-center text-[13px] hover:text-dropdownColor hover:bg-dropdownhoverColor"><img
									src="images/flags/us.png" class="w-4 h-4 mr-2" alt="">English</a>
							<a href="javascript:;" @click.prevent="transLang=false"
								class="px-3 py-1 flex items-center text-[13px] hover:text-dropdownColor hover:bg-dropdownhoverColor"><img
									src="images/flags/fr.png" class="w-4 h-4 mr-2" alt="">French</a>
							<a href="javascript:;" @click.prevent="transLang=false"
								class="px-3 py-1 flex items-center text-[13px] hover:text-dropdownColor hover:bg-dropdownhoverColor"><img
									src="images/flags/es.png" class="w-4 h-4 mr-2" alt="">Spanish</a>
							<a href="javascript:;" @click.prevent="transLang=false"
								class="px-3 py-1 flex items-center text-[13px] hover:text-dropdownColor hover:bg-dropdownhoverColor"><img
									src="images/flags/de.png" class="w-4 h-4 mr-2" alt="">German</a>
						</div>
					</li>
										<!-- /Flag -->

					<!-- Light & Dark Mode -->
					<a id="theme-toggle" href="javascript:;" class="text-gray-500 mx-1 bg-btnControls ring-0 outline-offset-0 focus:ring-0 dark:text-gray-400 border-0 appearance-none focus:outline-none rounded-lg text-sm p-2.5">
						<svg id="theme-toggle-dark-icon" class="hidden w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
						<svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
					</a>				
					<!-- /Light & Dark Mode	 -->

					<li class="relative">
						<a href="index.html"
							class="sm:px-[10px] md:px-[15px] text-white flex items-center h-[60px]">Login</a>
					</li>
					<li class="relative">
						<a href="register.html"
							class="sm:px-[10px] md:px-[15px] text-white flex items-center h-[60px]">Register</a>
					</li>

				</ul>
				<!-- /Header Menu -->

				<!-- Mobile Menu -->
				<div class="block sm:hidden relative" x-data="{profile:false}" @click.away="profile=false">
					<a href="javascript:;" class="text-white flex items-center h-[60px] px-5"
						@click="profile = ! profile"><i class="fa fa-ellipsis-v text-2xl"></i></a>
					<div class="py-2 bg-white absolute right-0 media-max-w-xs:right-[18px] border border-dropdownBorder shadow rounded-sm min-w-[120px] max-h-[150px] overflow-y-auto z-50"
						x-show="profile">
						<a @click.prevent="profile=false"
							class="px-3 py-1 flex items-center text-[13px] capitalize hover:text-dropdownColor hover:bg-dropdownhoverColor"
							href="index.html">Login</a>
						<a @click.prevent="profile=false"
							class="px-3 py-1 flex items-center text-[13px] capitalize hover:text-dropdownColor hover:bg-dropdownhoverColor"
							href="register.html">Register</a>
					</div>
				</div>
				<!-- /Mobile Menu -->

			</div>
		</header>
		<!-- /Header -->

		<!-- Page Wrapper -->
		<div class="page-wrapper flex-1 pt-[60px]">
			<div class="p-[15px] sm:p-[30px]">
				<div class="media-min-w-md:grid grid-cols-12 gap-x-6">
					<div class="col-start-2 col-span-10">
						<div class="page-header mb-[1.875rem]">
							<div>
								<div>
									<h3
										class="text-pageTitle dark:text-swapText text-lg sm:text-2xl md:text-[26px] font-medium sm:mb-[5px] leading-[1.2]">
										Jobs</h3>
									<ul class="hidden text-[14px] md:text-base font-medium sm:flex flex-wrap">
										<li><a href="index.html" class="text-[#333333] dark:text-swapText">Dashboard</a></li>
										<li><span class="px-2 dark:text-[#6c757d]">/</span></li>
										<li class="text-[#6c757d]">Jobs</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="md:grid grid-cols-12 gap-x-6">
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Web Developer</h3>
													<h4 class="text-sm text-[#777777]">Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Full
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Android Developer</h3>
													<h4 class="text-sm text-[#777777]">App Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Part
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Web Developer</h3>
													<h4 class="text-sm text-[#777777]">Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Full
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Android Developer</h3>
													<h4 class="text-sm text-[#777777]">App Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Part
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Web Developer</h3>
													<h4 class="text-sm text-[#777777]">Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Full
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Android Developer</h3>
													<h4 class="text-sm text-[#777777]">App Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Part
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Web Developer</h3>
													<h4 class="text-sm text-[#777777]">Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Full
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
								<div class="col-span-6">
									<div class="card dark:text-swapText shadow-header border-cardBorder dark:border-swapBorderPrimary mb-[30px]">
										<a href="job-view.html">
											<div class="flex items-cente p-5">
												<div class="flex-grow flex-shrink basis-0">
													<h3
														class="text-lg text-[#333333] dark:text-swapText !leading-[18px] font-semibold mb-2">
														Android Developer</h3>
													<h4 class="text-sm text-[#777777]">App Development</h4>
												</div>
												<div>
													<span
														class="bg-transparent border border-primary inline-block rounded px-3 py-[6px] text-primary">Part
														Time</span>
												</div>
											</div>
											<div class="bg-body dark:bg-swapBg relative p-5 rounded-bl rounded-br">
												<ul class="flex flex-wrap">
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-map-signs mr-[3px]"></i> California</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-money mr-[3px]"></i> $35000-$38000</li>
													<li class="text-[#777777] mr-[14px]"><i
															class="fa fa-clock-o mr-[3px]"></i> 2 days ago</li>
												</ul>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

	<div x-show="modalOpen"
		class="fixed top-0 left-0 right-0 w-full h-full outline-none overflow-x-hidden overflow-y-auto z-[500]"
		aria-labelledby="modal-title" role="dialog" aria-modal="true">
		<div class="flex items-center justify-center min-h-screen">
			<div x-cloak @click="modalOpen = false" x-show="modalOpen"
				x-transition:enter="transition ease-out duration-300 transform" x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200 transform"
				x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
				class="fixed inset-0 transition-opacity bg-blackOverlay bg-opacity-40" aria-hidden="true"></div>

			<div x-cloak x-show="modalOpen" x-transition:enter="transition ease-out duration-300 transform"
				x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
				x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
				x-transition:leave="transition ease-in duration-200 transform"
				x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
				x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
				class="bg-white m-2 sm:mx-auto sm:my-7 sm:max-w-[500px] media-min-w-md:min-w-[600px] rounded-[10px] relative z-[9999] transition-all transform">

				<div class="pt-[30px] px-[30px] text-center">
					<h5 class="text-[22px] capitalize">Add Plan</h5>
					<button type="button"
						class="bg-[#a0a0a0] w-5 h-5 rounded-full absolute top-[10px] right-[10px] text-white leading-5 z-50"
						@click="modalOpen = false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="p-[30px]">

					<form>
						<div class="sm:grid sm:grid-cols-2 gap-x-6">
							<div class="mb-4">
								<label>Plan Name</label>
								<input class="block w-full inputStyle" type="text" placeholder="Free Trial">
							</div>
							<div class="mb-4">
								<label>Plan Amount</label>
								<input class="block w-full inputStyle" type="text">
							</div>
							<div class="mb-4">
								<label class="block text-[15px]">
									<span class="text-[#1f1f1f]">Plan Type</span>
									<select class="form-select block w-full text-[#676767]">
										<option> Monthly </option>
										<option> Yearly </option>
									</select>
								</label>
							</div>
							<div class="mb-4">
								<label class="block text-[15px]">
									<span class="text-[#1f1f1f]">No of Users</span>
									<select class="form-select block w-full text-[#676767]">
										<option> 5 Users </option>
										<option> 50 Users </option>
										<option> Unlimited </option>
									</select>
								</label>
							</div>
							<div class="mb-4">
								<label class="block text-[15px]">
									<span class="text-[#1f1f1f]">No of Projects</span>
									<select class="form-select block w-full text-[#676767]">
										<option> 5 Projects </option>
										<option> 50 Projects </option>
										<option> Unlimited </option>
									</select>
								</label>
							</div>
							<div class="mb-4">
								<label class="block text-[15px]">
									<span class="text-[#1f1f1f]">No of Storage Space</span>
									<select class="form-select block w-full text-[#676767]">
										<option> 5 GB </option>
										<option> 100 GB </option>
										<option> 500 GB </option>
									</select>
								</label>
							</div>
							<div class="mb-4 col-span-2">
								<label class="block text-[15px]">Plan Description</label>
								<textarea rows="4" cols="30" class="textareaStyle w-full" placeholder=""></textarea>
							</div>
							<div x-data="{toggleAction:false}">
								<label class="block text-[15px]">Status</label>
								<div @click="toggleAction = ! toggleAction" class="mr-3 cursor-pointer">
									<label class="relative flex justify-between items-center p-0 text-xl">
										<input type="checkbox"
											class="cursor-pointer absolute left-1/2 -translate-x-1/2 w-full h-full peer appearance-none rounded-md" />
										<span
											class="border border-[#e0001a] w-[48px] h-[24px] pl-[3px] flex items-center flex-shrink-0 bg-[#e0001a] rounded-full duration-300 ease-in-out after:w-[16px] after:h-[16px] after:bg-white peer-checked:bg-success after:peer-checked:bg-white peer-checked:border-success after:rounded-full after:duration-300 peer-checked:after:translate-x-[23px] after:peer-checked:group:bg-primary group-hover:after:translate-x-0 after:right-1"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="mt-10 text-center">
							<button class="submit-btn" @click="modalOpen = false">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
		<div class="settings-icon fixed right-5 bottom-5 z-[10005]"> 
			<span id="colorswitch-blk" class="flex items-center justify-center w-[45px] h-[45px] rounded-[50px] cursor-pointer text-white text-2xl animate-colorSwap">
				<i class="las la-cog"></i>
			</span> 
		</div> 
 
		<div class="offcanvas fixed top-0 right-0 bottom-0 offcanvas-end z-[999999] dark:bg-swapBody dark:text-swapText" id="theme-settings-offcanvas"> 
			<div class="flex justify-between items-center pb-[25px] px-[25px] border-b dark:!border-swapBorderPrimary">
				<div>
					<h2 class="text-[25px] mb-2">Customizer</h2>
					<h3 class="text-[15px]">Customize your overview Page layout</h3>
				</div>
				<div class="color-switchclose">
					<a href="javascript:;"><img src="images/close.png" alt="img"></a>
				</div>
			</div>
			<div class="overflow-y-auto flex-grow"> 
				<div class="h-full"> 
					<div>  
							<div class="p-[25px]">
								<h5 class="text-base mb-2">Color Scheme</h5>
								<h6 class="text-sm">Choose Light or Dark Scheme.</h6>
							</div>
							<div class="colorscheme-cardradio"> 
								<div class="flex flex-wrap gap-3 px-[25px]"> 
									<div>
										<div class="form-check card-radio p-0"> 
											<input class="form-check-input cursor-pointer" type="radio" name="data-layout-mode" id="skin-orange" value="orange" checked> 
											<!-- <label class="form-check-label p-[10px] w-full before:content-['✓'] before:absolute before:top-[40%] before:left-[40%] before:text-[10px] before:bg-[#3BB800] before:font-black before:w-5 before:h-5 before:flex before:items-center before:justify-center before:rounded-full" for="layout-mode-orange">  -->
												<label class="form-check-label dark:!border-[#ced4da] p-[10px] w-full" for="skin-orange"> 
												<img src="images/vertical.png" alt="img">
										</label>
									</div> 
									<h5 class="fs-13 text-center mt-2">Orange</h5>
								</div> 
								<div>
									<div class="form-check card-radio p-0"> 
										<input class="form-check-input" type="radio" name="data-layout-mode" id="skin-light" value="light"> 
										<label class="form-check-label dark:!border-[#ced4da] p-[10px] w-full" for="skin-light"> 
											<img src="images/vertical.png" alt="img">
										</label> 
									</div> 
									<h5 class="fs-13 text-center mt-2">Light</h5> 
								</div> 
								<div>
									<div class="form-check card-radio dark  p-0 "> 
										<input class="form-check-input" type="radio" name="data-layout-mode" id="skin-dark" value="dark"> 
										<label class="form-check-label dark:!border-[#ced4da] p-[10px] w-full " for="skin-dark"> 
											<img src="images/vertical.png" alt="img">
										</label> 
									</div> 
									<h5 class="fs-13 text-center mt-2">Dark</h5> 
								</div> 
								<div>
									<div class="form-check card-radio blue  p-0 "> 
										<input class="form-check-input" type="radio" name="data-layout-mode" id="skin-blue" value="blue"> 
										<label class="form-check-label dark:!border-[#ced4da] p-[10px] w-full" for="skin-blue"> 
											<img src="images/vertical.png" alt="img">
										</label> 
									</div> 
									<h5 class="fs-13 text-center mt-2">Blue</h5> 
								</div> 
								<div>
									<div class="form-check card-radio maroon p-0"> 
										<input class="form-check-input" type="radio" name="data-layout-mode" id="skin-maroon" value="maroon"> 
										<label class="form-check-label dark:!border-[#ced4da] p-[10px] w-full " for="skin-maroon"> 
											<img src="images/vertical.png" alt="img">
										</label> 
									</div> 
									<h5 class="fs-13 text-center mt-2">Maroon</h5> 
								</div> 
								<div>
									<div class="form-check card-radio purple p-0"> 
										<input class="form-check-input" type="radio" name="data-layout-mode" id="skin-purple" value="purple"> 
										<label class="form-check-label dark:!border-[#ced4da] p-[10px] w-full " for="skin-purple"> 
											<img src="images/vertical.png" alt="img">
										</label> 
									</div> 
									<h5 class="fs-13 text-center mt-2">Purple</h5> 
								</div> 	
							</div> 
						</div> 

					</div> 
				</div> 

			</div> 
			<div class="offcanvas-footer dark:bg-swapBody gap-3 flex justify-between items-center pt-[25px] px-[25px] border-t border-borderBottom dark:!border-swapBorderPrimary"> 
					<div class="w-full"> 
						<button type="button" class="btn w-full btn-reset" id="reset-layout">Reset</button> 
					</div> 
					<div class="w-full"> 
						<a href="https://themeforest.net/item/smarthr-tailwind-css-admin-dashboard-template/37897693" target="_blank" class="btn-buynow px-3 py-[6px] block bg-primary hover:bg-btnPrimary-hoverbgColor w-full">Buy Now</a> 
					</div> 
			</div> 
		</div>
	<!-- jQuery -->
	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/alpine.min.js" defer></script>

	<!-- Custom JS -->
	<script src="js/app.js"></script>

</body>

</html>